body {
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
    overflow: scroll;
}

footer {
    position: fixed;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 10%;
    background-color: black;
    display: none;
}

table, th, td{
    border: 1px solid black;
    border-collapse: collapse;
}

td {
    padding: 10px 15px 10px 15px;
}

/* >>>>> CLASSES START HERE <<<<< */

.author-text {
    font-size: 30px;
}

.book-card {
    overflow-wrap: break-word;
    word-wrap: break-word;
    hyphens: auto;
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
    padding: 20px 20px 0px 20px;  
    width: 400px;
    box-sizing: border-box;
    font-size: 30px;
    border: 2px solid black;
}

.card-button {
    position: absolute;
}

.delete-button {
    bottom: 20px;
}

.pages-text {
    padding: 20px 0 70px 0;
}

.read-yet-toggle {
    bottom: 60px;
}

.title-text {
    font-size: 40px;
}

/* >>>>> ID'S START HERE <<<<< */

#card-container {
    padding-top: 150px;
    display: grid;
    justify-self: center;
    grid-template-columns: repeat(4, 1fr);
    width: 100%;
    column-gap: 30px;
    row-gap: 50px;
}

#input-pages {
    width: 60px;
}

#form-div {
    position: fixed;
    overflow: hidden;
    left: 0;
    opacity: 0;
    background-color: white;
}

#main-container {
    width: 90%;
}

#new-card-form {
    position: relative;
    left: -300px;
    width: inherit;
}

@keyframes form-slidein {
    0% {
        opacity: 0;
    }
    100% {
        transform:translateX(300px);
        opacity: 1;
    }
}

@keyframes form-slideout {
    0% {
    }
    100% {
        transform:translateX(-300px);
    }
}

@keyframes become-transparent {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@keyframes become-opaque {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
